.forgotPasswordmain {
  background: url(https://cdn.dribbble.com/users/1107512/screenshots/3997677/_g.gif) left top no-repeat, 
              url(https://cdn.dribbble.com/users/720472/screenshots/2055709/send-email.gif) right no-repeat;
  min-height: 100vh;
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
}

.forget-password-main-container1 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.forget-password-row {
  justify-content: center;
}

.forget-password-card {
  background: #F9F9F9;
  margin-top: 150px;
  box-shadow: 0 0 20px 0 rgba(2, 68, 247, 0.2), 0 5px 5px 0 rgba(2, 10, 240, 0.24);
  border-radius: 10px;
}

.forget-password-card-body {
  padding: 20px;
}

.forget-password-text-center h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #1869b0;
}

.forget-password-btn-verify, .forget-password-btn-change {
  background: #1869b0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: auto;
  text-align: center;
  font-size: 16px;
  transition: background 0.3s;
  margin: 10px auto;
  padding: 10px 20px;
}

.forget-password-btn-verify:hover, .forget-password-btn-change:hover {
  background: #0675d6;
}

.forget-password-form-group label {
  display: block;
  color: #333;
  padding: 2px;
  font-weight: bold;
}

.forget-password-form-control {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}

.forget-password-form-control:focus {
  border-color: #1869b0;
  border-width: 2px;
  border-style: solid;
  outline: none;
}

.forget-password-timer {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .forgotPasswordmain {
    background-size: cover;
    background: url(https://cdn.dribbble.com/users/1107512/screenshots/3997677/_g.gif)  top no-repeat, 
              url(https://cdn.dribbble.com/users/720472/screenshots/2055709/send-email.gif) bottom no-repeat;
    min-height: 100vh;
  }

  .forget-password-main-container1 {
    
    margin-left: 10%;
    margin-right: 10%;
  }

  .forget-password-card {
    margin-top: 100px;
    box-shadow: 0 0 10px 0 rgba(2, 68, 247, 0.2), 0 3px 3px 0 rgba(2, 10, 240, 0.24);
  }

  .forget-password-text-center h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .forgotPasswordmain {
    background-size: contain;
    /* background-position: center; */
    background: url(https://cdn.dribbble.com/users/1107512/screenshots/3997677/_g.gif) no-repeat
  }

  .forget-password-main-container1 {
    max-width: 100%;
    padding: 5px;
  }

  .forget-password-card {
    margin-top: 50%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .forget-password-text-center h1 {
    font-size: 15px;
  }

  .forget-password-btn-verify, .forget-password-btn-change {
    font-size: 14px;
    padding: 8px 16px;
  }
}
