.iframe-card-container {
  /* padding: 0 10%; */
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card, .iframe-card-body {
  background: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  margin: 20px;
  box-shadow: 0 0 20px 0 rgba(2, 68, 247, 0.2), 0 5px 5px 0 rgba(2, 10, 240, 0.24);
  gap: 3rem;
}

.card:hover, .iframe-card-body:hover {
  cursor: pointer;
}

.iframe-card-header {
  background-color: #1869b0;
  color: white;
  padding: 15px;
  text-align: center;
  /* border-radius: 10px 10px 0 0; */
  width: 100%;
  display: flex;

}

.card-header h3, .card-header h6, .iframe-card-header h2 {
  margin: 0;
}

.card-body, .iframe-card-body {
  padding: 15px;
}

.card-body p {
  margin: 5px 0;
}

.cards {
  margin: 2% 3%;
}

.iframe-card-video {
  margin: 10px 0;
  width: 10%;
  display: flex;
  justify-content: center;
}

.iframe-card-iframeUrl {
  margin: 10px;
  width: 57%;
  margin: 0 auto;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 20px 0 rgba(2, 68, 247, 0.2), 0 5px 5px 0 rgba(2, 10, 240, 0.24);
 
}

.iframe-card-iframeUrl iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.iframe-card-video video {
  width: 60%;
  border-radius: 10px;
  border: none;
}

@media screen and (max-width: 600px) {
  .cards-container {
      padding: 0;
  }

  .card, .iframe-card-body {
      padding: 10px;
      margin: 10px 0;
  }

  .iframe-card-video video, .iframe-card-iframeUrl iframe {
      width: 100%;
  }
}
